@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    color: #505962;
    overflow-x: hidden;
}


/*=== Navigation Scrolling Offset ===*/

.offset:before {
    height: 4rem;
    margin-top: -4rem;
    content: "";
    display: block;
}


/* === Navigation ===*/

.navbar {
    padding: .7rem 1rem;
    text-transform: uppercase;
    font-size: .9rem;
    font-weight: 700;
    letter-spacing: .1rem;
    transition: background-color .5s ease 0s;
}

.navbar-brand img {
    height: 8rem;
}

.navbar-nav li {
    padding-right: .8rem;
}

.navbar-nav .nav-link {
    color: #fff;
    padding-top: .8rem;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover {
    color: #1ebba3;
}

.navbar.solid {
    background: rgba(0, 0, 0, 0.7) !important;
    transition: background-color 1s ease 0s;
}


/* === Landing Page ===*/

.home-inner {
    background-image: url("img/img-videos/background_hd_switch2_device.jpg");
}

.caption {
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 38%;
    z-index: 1;
}

.caption h1 {
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-size: 6.5rem;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: .3rem;
    text-shadow: .1rem .1rem .5rem black;
    padding-bottom: 1rem;
}

.caption h3 {
    color: white;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 400;
    text-shadow: .1rem .1rem .5rem black;
    padding-bottom: 1rem;
}

.caption h2 {
    color: white;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 400;
    text-shadow: .1rem .1rem .5rem black;
    padding-bottom: 1rem;
}


/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/